.header{
    height: 200px;
    width: 1400px;
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

.hero{
    height: 300px;
    width: 1400px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#hero-main{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

#hero-second{
    font-size: 18px;
    color: #F9FAF8;
}

img{
    height: auto;
    width: 300px;
}